/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Orthotica Styles
   ========================================================================== */

html {
    height: 100%;
}

body {
    font-family: 'PT Sans', sans-serif;
    height: 100%;
}

.orange-button {
    display: inline-block;
    border: 1px solid #d86942;
    color: #d86942;
    text-decoration: none;
    font-size: 0.75rem;
    padding: 10px 7px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 3px;
}

.orange-button:hover, .orange-button:active {
    background-color: #d86942;
    color: #ffffff;
}

h2 {
    font-family: 'Gaspar', serif;
    font-size: 1.55rem;
    letter-spacing: 1px;
    font-weight: normal;
}

header {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

header .logo-white {
    height: 18px;
    float: left;
    position: relative;
    z-index: 4;
    margin: 20px;
}

header .icon-menu-white {
    height: 18px;
    width: 30px;
    float: right;
    margin: 20px;
}

nav {
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #d86942;
    font-family: 'Gaspar', serif;
    color: #ffffff;
}

nav .cross-white {
    margin: 15px;
    float: right;
    height: 29px;
    width: 36px;
}

.nav {
    margin: 0;
    padding: 0;
    max-height: 15rem;
}

.nav li {
    text-align: center;
}

.nav a {
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    font-size: 2.5rem;
    line-height: 1.5;
    margin: 0 auto;
}

.landing {
    height: 100%;
    background-image: url('./img/landing_slide_01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.landing-content h1 {
    margin-bottom: 5px;
}

.landing-content {
    text-align: center;
    color: #ffffff;
    height: 200px;
    width: 200px;
}

.landing-content span {
    font-size: 2rem;
    padding-left: 4px;
}

.landing-content p {
    padding-top: 50px;
    font-style: italic;
}

.slider {
    height: 100%;
}

.slide {
    height: 100%;
    width: 100%;
    float: left;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    z-index: 1;
}

.slide:nth-child(1) { background-image: url('./img/landing_slide_01.jpg'); }
.slide:nth-child(2) { background-image: url('./img/landing_slide_02.jpg'); }
.slide:nth-child(3) { background-image: url('./img/landing_slide_03.jpg'); }
.slide:nth-child(4) { background-image: url('./img/landing_slide_04.jpg'); }

.slide-content {
    max-height: 65%;
    max-width: 80%;
    text-align: center;
    color: #ffffff;
}

.slide:nth-child(1) .slide-content {
    height: 11rem;
}

.slide-content .logo-white {
    margin: 1.2rem auto 40px auto;
    height: 30px;
    width: 177px;
}

.landing-content h1, .slide-content h1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.55rem;
    font-weight: normal;
    letter-spacing: 1px;
}

.slide-content p {
    font-size: 1.25rem;
    letter-spacing: 1px;
    line-height: 1.5;
    margin: 40px 0;
}

footer {
    background-color: #d86942;
    font-family: 'Gaspar', serif;
    color: #ffffff;
    padding: 20px;
}

.footer-panel {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    min-width: 15rem;
}

.footer-panel ul {
    list-style-type: none;
    padding: 0;
}

.footer-panel li {
    line-height: 1.2;
    margin: 5px 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.contact li {
    padding-left: 40px;
}

.contact li:nth-child(1) {
    background-image: url('./img/phone_icon_white.svg');
}

.contact li:nth-child(2) {
    background-image: url('./img/envelope_icon_white.svg');
    background-position: 2px 0;
}

footer {
    clear: both;
}

footer p, footer li {
    font-size: 1.2rem;
}

.footer-panel .menu li {
    background-image: url('./img/arrow_white.svg');
    background-position: right;
    max-width: 8rem;
    margin: 10px 0;
}

.footer-panel .menu a {
    display: block;
    color: #ffffff;
    text-decoration: none;
}

.footer-panel .small-logo-white {
    margin: 10px 0 30px 0;
}

.coming-soon {
    font-family: 'PT Sans', sans-serif;
}

.copyright, .legal {
    font-family: 'PT Sans', sans-serif;
    font-size: 0.8rem;
    line-height: 1.8;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Small screens */
@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens */
@media only screen and (min-width: 40.063em) {
    .slide-content {
        max-width: 30rem;
    }

    .copyright, .legal {
        width: 50%;
        display: inline-block;
    }

    .legal {
        text-align: right;
    }
} /* min-width 641px, medium screens */

/* Large screens */
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */



@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.abs-center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}